@charset "UTF-8";
/*
*
*/
/** mixing name(parametre){ coller bloc code @content contenue d'origine} */
html {
  font-size: 100%;
  box-sizing: border-box;
}

/* a voir html ou (*) */
/* box-sizing définit la façon dont la hauteur et la largeur totale d'un élément est calculé  */
*, *::before, *::after {
  box-sizing: inherit;
}

/* utilisée avec ::before et ::after afin de générer le contenu d'un élément. */
body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  color: #9698a6;
  line-height: 1.3;
}
body.noscroll {
  overflow: hidden;
}

h1, h2, h3 {
  margin-top: 0px;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: space-between;
}
.flex-ai-c {
  align-content: center;
}

button, .button {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
  transition: opacity 300ms ease-in-out;
}
button:hover, .button:hover {
  opacity: 0.75;
}

/* button, .button double selecteur
* font-weight permet de définir la graisse utilisée pour le texte
*/
/*
* Elements à afficher ou non.
* Affichage ou cacher elements
* Mobile first
*/
@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

/** @include Basecode */
.container {
  max-width: 69.56rem;
  margin: auto;
}
.container--pall {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container--pt {
  padding-top: 2.25rem;
}
.container--pl {
  padding-left: 1.5rem;
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 2.25rem;
}

/** Section */
.header {
  /** 
  * Ajoute une animation fade-in a .overlay
  * Selecteur d'element fils '>' permet de sélectionner les nœuds qui sont des fils directs 
  * d'un élément donné.
  */
  /***
  */
}
.header.open .overlay {
  display: block;
  animation: fade-in 300ms ease-in-out forwards;
}
.header.open .header__toogle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toogle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toogle > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  position: fixed;
  top: 3.75rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(#2d314d, transparent);
  opacity: 0.3;
}
.header nav {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}
.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}
.header__toogle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  transition: color 200ms ease-in-out;
  transform-origin: 3px 1px;
}
.header__toogle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  margin-top: 1.5rem;
  padding: 1.625rem;
  background: white;
  transform: translateX(-50%);
  border-radius: 5px;
}
.header__menu a {
  display: block;
  color: #2d314d;
  padding: 0.625rem;
  text-align: center;
}
.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  transition: color 200ms ease-in-out;
  /* 
  * cree un element qui n'existe pas dans le html
  * ::before creates a pseudo-element that is the first child of the selected element. 
  * It is often used to add cosmetic content to an element with the content property. 
  * It is inline by default.
  */
}
.header__links a:not(:last-child) {
  margin-right: 32px;
}
.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: linear-gradient(to right, #31d35c, #2d314d);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.header__links a:hover {
  color: #2d314d;
}
.header__links a:hover::before {
  opacity: 1;
}

/**
* padding the padding area on all four sides of an element at once.
* > Combinateur fils element direct
* :not() represents elements that do not match a list of selectors.
* :last-child  represents the last element among a group of sibling elements.
*not last child css
*/
.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

/*@keyframes (=image cle) 
permet aux auteurs de définir les étapes qui composent la séquence d'une animation CSS. Cela permet de contrôler une animation plus finement que ce qu'on pourrait obtenir avec les transitions.
 */
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.hero {
  /** flex  capacité d'un élément flexible à modifier 
  *ses dimensions afin de remplir l'espace disponible 
  *de son conteneur.
  */
  /**
  *transform defines a list of transform definitions that are applied to an element 
  *and the element's children.
  */
}
@media (min-width: 64em) {
  .hero {
    min-height: 41rem;
    display: flex;
    align-items: center;
  }
}
.hero__image {
  /* border: 1px solid magenta; */
  position: relative;
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-position: center center;
  min-height: 17.5em;
  /** flex grow (1) 
  */
}
@media (min-width: 64em) {
  .hero__image {
    flex: 3;
    order: 2;
    height: 41rem;
    background-image: url("/images/bg-intro-desktop.svg");
    background-position: left center;
  }
}
.hero__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/images/image-mockups.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.hero__text {
  text-align: center;
}
.hero__text h1 {
  font-weight: 300;
  line-height: 1.15;
  color: #2d314d;
  font-size: 2.31rem;
  margin-bottom: 1.5rem;
}
.hero__text p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}
@media (min-width: 64em) {
  .hero__text {
    flex: 2;
    order: 1;
  }
}

/*# sourceMappingURL=style.css.map */
