.articles{
    background-color: $veryLightGray;
}

.article{ /* niv section */

    &__content{  /* container */

    }

    &__grid{
        //Det up layout 1col (default)  2 col (medium) 4 col (large)
        display: grid;
        grid-template-columns: 1fr;     
        gap: 1.875rem;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint-up(large){
            grid-template-columns: repeat(4, 1fr);

        }
    }
    &__item{ //image
        border-radius: 0.3125rem;
        overflow: hidden;



    }
    &__image{
            height: 12.5rem;
            box-sizing: cover;
            background-repeat: no-repeat;
            background-position: center center;

    }
    &__text{
        background-color: white;
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        color: $grayishBlue;
    }
        @include breakpoint-up(medium){
            padding: 1.875rem 1.562rem;
        }
/*         @include breakpoint-up(large){
          padding: ;  
        } */
    &__author{
    font-size: 0.625rem;
    margin-bottom: 0.75rem;
    color: gray;

    }
    &__title{
        font-size: 1.0625rem;

    }
    &__description{
        font-size: 0.8125rem;
        color: black;

    }
}
    

