.hero{
    background-color: $veryLightGray;  
    
    //Breakpoint Desktop
    .container{
        @include breakpoint-up(large){ // Breakpoint desktop
            min-height: 41rem;
            display: flex;
            align-items: center;
        }

    }
    /** flex  capacité d'un élément flexible à modifier 
    *ses dimensions afin de remplir l'espace disponible 
    *de son conteneur.
    */
    
    &__image{
        /* border: 1px solid magenta; */
        position: relative;
        background-image: url('/images/bg-intro-mobile.svg');
        background-size: cover; // couvre tous l'espace dispo
        background-repeat: no-repeat;
        background-position: center center; //sets the initial position for each background image.
        min-height: 17.5em;


        //Breakpoint Tablet
        @include breakpoint-up(medium){ 
            min-height: 25rem; 
            background-position: center  60%;
        }

        //Breakpoint Desktop
        @include breakpoint-up(large){           
            flex: 3; // flex grow
            order: 2;
            height: 41rem; // Agrandi l'image
            background-image: none;
            /* background-image: url('/images/bg-intro-desktop.svg'); */
            /* background-position: left center; */
        }
/*         &::before, ::after{
            border: 1px solid magenta;
        } */

        &::before{ //Background
            content: ""; //content sinon n'apparait pas dans la page.
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('/images/bg-intro-desktop.svg');
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom ;



            //Breakpoint Desktop
            @include breakpoint-up(large){  
                width: 150%;
                box-sizing: 122%;
                background-position: 0% 83%;
            }

        }
        &::after{ //Image premier plan phone
            content: "";  
            position: absolute;
            //Taille image
            width: 100%;
            height: 100%;
            background-image: url('/images/image-mockups.png');
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom; // Initial Position

            //Breakpoint Tablet
             @include breakpoint-up(medium){ 
                background-size: 52%;
            }
            @include breakpoint-up(large){  
                width: 120%;
                height: 122%;

                background-size: 94%;
                background-position: center 150%; // Initial Position
                //Positionning
                top: 0%;
                left: 22%;
            }

        }
    }
    /**
    *transform defines a list of transform definitions that are applied to an element 
    *and the element's children.
    */
    //
    &__text{
        text-align: center; // centrer

        @include breakpoint-up(large){ // Modification de h1 si nouveau breakpoint
            flex:2;
            order:1;
            font-size: $font-xlg;  
            } 

        p{
            line-height: 1.5;
            margin-bottom: 2.25rem;
            
            @include breakpoint-up(large){ // Modification de p si nouveau breakpoint
            font-size: $font-med;
            } 
        }
        //Breakpoint Desktop
        @include breakpoint-up(large){ // Chnge order
            flex: 2;
            order: 1;
            text-align: left;
        }        
    }
}